API_PORT=3000
JWT_SECRET=change_me
DB_PATH=
ADMIN_EMAIL=admin@inprotect.local
ADMIN_PASSWORD=admin12345
ADMIN_NAME=Admin
LAUNCHER_DOWNLOAD_URL=
MC_PACK_URL=https://workupload.com/file/DfDbfTtSUsz
MOD_JAR_URL=https://workupload.com/file/BLmQgMPqCXW
