API_PORT=3000
JWT_SECRET=change_me
DB_PATH=
ADMIN_EMAIL=admin@inprotect.local
ADMIN_PASSWORD=admin12345
ADMIN_NAME=Admin
LAUNCHER_DOWNLOAD_URL=

# Сборка Minecraft (zip) и мод (jar) — Dropbox с dl=1
MC_PACK_URL=https://www.dropbox.com/scl/fi/5f80ehnqrblm14jfuaz9p/1.21.4.zip?rlkey=igf2vc47cucrxr402l3z2xik0&st=h3dhdhfn&dl=1
MOD_JAR_URL=https://www.dropbox.com/scl/fi/ros3acsfv0hl3he4tsyur/corpse-1.0.0.jar?rlkey=jjshpfldgazgg39xw6f59qy9j&st=esgdx44d&dl=1

# Альтернатива: uploads/game/minecraft-pack.zip и mod.jar
